<!DOCTYPE html>
<html ng-app="HubApp">
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/js/vendor/vendor.min.js"></script>
    <script type="text/javascript" src="/js/vendor/io.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div id="onsite" ng-controller="onsiteController">
      <hamburger-menu ng-click="toggleMenu()" class="hamburgerMenu"></hamburger-menu>
      <pageslide ps-side="left" ps-open="checked">
        <div><a href="/onsite">ONSITE CHECKIN</a><a href="/onsite/synced">ALL SYNCED CHECKINS</a><a href="/onsite/search">SEARCH</a><a href="/onsite/lookup">LOOKUP</a></div>
      </pageslide>
      <h2>INFORMATION</h2>
      <div class="status">Place badge on edison to lookup</div>
      <div ng-click="reset()" class="actionButton btn btnRed">RESET</div>
      <h2>LOOKUPS ( {{lookedupAttendees.length}} )</h2>
      <div ng-init="lookup = true" class="header">
        <div ng-click="orderUnsynced('workerId')" class="clickable columnOne">First Name</div>
        <div ng-click="orderUnsynced('created')" class="clickable columnOne">Last Name</div>
        <div ng-click="orderUnsynced('firstname')" class="clickable columnTwo">Email</div>
        <div ng-click="orderUnsynced('eventAttendeeEmail')" class="clickable columnOne">Badge</div>
      </div>
      <div class="module short">
        <div class="body">
          <div ng-repeat="attendee in lookedupAttendees" ng-click="setCurrentAttendee(attendee)" ng-class="{'active':(attendee.id==currentAttendee.id)}" class="row">
            <div class="columnOne">{{attendee.firstname}}</div>
            <div class="columnOne">{{attendee.lastname}}</div>
            <div class="columnTwo">{{attendee.email}}</div>
            <div class="columnOne">{{attendee.badges[0].identity}}</div>
          </div>
        </div>
      </div>
      <div ng-class="{'disabled': !currentAttendee || currentlyUnsyncing}" ng-click="unsyncAttendee()" class="btn btnRed actionButton"><span ng-if="!currentlyUnsyncing">UNSYNC</span><span ng-if="currentlyUnsyncing">UNSYNCING...</span></div>
    </div>
  </body>
</html>