<!DOCTYPE html>
<html ng-app="HubApp">
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/js/vendor/vendor.min.js"></script>
    <script type="text/javascript" src="/js/vendor/io.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div id="onsite" ng-controller="onsiteController">
      <h2>CHECKINS ( {{unsyncedCheckins.length}} )</h2>
      <div class="header">
        <div class="clickable columnOne">Kiosk</div>
        <div class="clickable columnTwo">Checkin Time</div>
        <div class="clickable columnTwo">Full Name</div>
        <div class="clickable columnFour">Email</div>
      </div>
      <div class="module short">
        <div class="body">
          <div ng-repeat="checkIn in unsyncedCheckins | orderBy:unsyncedPredicate:unsyncedReverse" ng-class="{'active':(checkIn.eventAttendee.id==currentAttendee.id)}" ng-click="setCurrentAttendee(checkIn.eventAttendee)" class="row">
            <div class="columnOne">{{checkIn.checkInWorker}}</div>
            <div class="columnTwo">{{checkIn.created | date:'HH:mm:ss'}}</div>
            <div class="columnTwo">{{checkIn.eventAttendee.firstname}} {{checkIn.eventAttendee.lastname}}</div>
            <div class="columnFour">{{checkIn.eventAttendeeEmail}}</div>
          </div>
        </div>
      </div>
      <h3>Status: <em>{{currentStatus}}</em></h3>
      <h3>Badges: {{allocatedPeripheralsCount}}</h3>
      <div ng-click="syncBadge()" ng-class="{'disabled':!currentAttendee || isScanning || allocatedPeripheralsCount &lt; 1 || currentlySyncing}" class="btn btnShakespeare actionButton"><span ng-if="!currentlySyncing">SYNC</span><span ng-if="currentlySyncing">SYNCING...</span></div>
      <h2>SYNCED CHECKINS</h2>
      <div class="header">
        <div class="clickable columnOne">Kiosk</div>
        <div class="clickable columnTwo">Sync Time</div>
        <div class="clickable columnTwo">First Name</div>
        <div class="clickable columnTwo">Last Name</div>
      </div>
      <div class="module short">
        <div class="body">
          <div ng-repeat="checkIn in syncedCheckins | orderBy:syncedPredicate:syncedReverse" ng-click="setCurrentSyncedCheckIn(checkIn)" ng-class="{'active':(checkIn.id == currentSyncedCheckIn.id)}" class="row">
            <div class="columnOne">{{checkIn.checkInWorker}}</div>
            <div class="columnTwo">{{checkIn.badge.syncTime | date:'HH:mm:ss'}}</div>
            <div class="columnTwo">{{checkIn.eventAttendee.firstname}} {{checkIn.eventAttendee.lastname}}</div>
          </div>
        </div>
      </div>
      <div ng-class="{'disabled':!currentSyncedCheckIn || currentlySyncing || currentlyUnsyncing}" ng-click="sendCommand('f70102')" class="btn btnShakespeare actionButton">BLINK</div>
      <div ng-class="{'disabled':!currentSyncedCheckIn || currentlyUnsyncing || currentlySyncing}" ng-click="unsync()" class="btn btnRed actionButton"><span ng-if="!currentlyUnsyncing">UNSYNC</span><span ng-if="currentlyUnsyncing">UNSYNCING...</span></div>
    </div>
  </body>
</html>