<!DOCTYPE html>
<html ng-app="HubApp">
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/js/vendor/vendor.min.js"></script>
    <script type="text/javascript" src="/js/vendor/io.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div id="onsite" ng-controller="onsiteController">
      <hamburger-menu ng-click="toggleMenu()" class="hamburgerMenu"></hamburger-menu>
      <pageslide ps-side="left" ps-open="checked">
        <div><a href="#" ng-click="goToCheckIn()">CHECKIN</a><a href="#" ng-click="goToSearch()">SEARCH</a><a href="#" ng-click="goToLookup()">LOOK UP</a><a href="#" ng-click="goToSignup()">MANUAL SIGNUP</a></div>
      </pageslide>
      <h2>CHECKINS ({{unsyncedAttendees.length}})</h2>
      <div class="header">
        <div class="columnOne">Kiosk</div>
        <div class="columnTwo">Checkin Time</div>
        <div class="columnTwo">Full Name</div>
        <div class="columnFour">Email</div>
      </div>
      <div class="module short">
        <div class="body">
          <div ng-repeat="attendee in unsyncedAttendees" ng-class="{'active':(attendee.id==currentAttendee.id)}" ng-click="setCurrentAttendee(attendee)" class="row">
            <div class="columnOne">
              <p>{{attendee.checkIn.checkInWorker}}</p>
            </div>
            <div class="columnTwo">
              <p>{{attendee.checkIn.created | date:'h:mm:ss'}}</p>
            </div>
            <div class="columnTwo">
              <p>{{attendee.firstname}} {{attendee.lastname}}</p>
            </div>
            <div class="columnFour">
              <p>{{attendee.email}}</p>
            </div>
          </div>
        </div>
      </div>
      <h3>Status: <em>{{currentStatus}}</em></h3>
      <h3>Badges: {{allocatedPeripheralsCount}}</h3>
      <div ng-click="sync()" ng-class="{'disabled':!currentAttendee || isScanning || allocatedPeripheralsCount &lt; 1 || currentlySyncing}" class="btn btnShakespeare actionButton"><span ng-if="!currentlySyncing">SYNC</span><span ng-if="currentlySyncing">SYNCING...</span></div>
      <h2>SYNCED CHECKINS ({{syncedAttendees.length}})</h2>
      <div class="header">
        <div class="columnOne">Kiosk</div>
        <div class="columnTwo">Sync Time</div>
        <div class="columnTwo">Full Name</div>
        <div class="columnFour">Email</div>
      </div>
      <div class="module short">
        <div class="body">
          <div ng-repeat="attendee in syncedAttendees" ng-click="setCurrentSyncedAttendee(attendee)" ng-class="{'active':(currentSyncedAttendee.id == attendee.id)}" class="row">
            <div class="columnOne">
              <p>{{attendee.checkIn.checkInWorker}}</p>
            </div>
            <div class="columnTwo">
              <p>{{attendee.checkIn.created | date:'h:mm:ss'}}</p>
            </div>
            <div class="columnTwo">
              <p>{{attendee.firstname}} {{attendee.lastname}}</p>
            </div>
            <div class="columnFour">
              <p>{{attendee.email}}</p>
            </div>
          </div>
        </div>
      </div>
      <div ng-class="{'disabled':!currentSyncedAttendee || currentlySyncing || currentlyUnsyncing}" ng-click="sendCommand('f70102')" class="btn btnShakespeare actionButton">BLINK</div>
      <div ng-class="{'disabled':!currentSyncedAttendee || currentlyUnsyncing || currentlySyncing}" ng-click="unsync()" class="btn btnRed actionButton"><span ng-if="!currentlyUnsyncing">UNSYNC</span><span ng-if="currentlyUnsyncing">UNSYNCING...</span></div>
    </div>
  </body>
</html>