<!DOCTYPE html>
<html ng-app="HubApp">
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/js/vendor/vendor.min.js"></script>
    <script type="text/javascript" src="/js/vendor/io.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div id="onsite" ng-controller="searchController">
      <hamburger-menu ng-click="toggleMenu()" ng-controller="menuController" class="hamburgerMenu"></hamburger-menu>
      <pageslide ps-side="left" ps-open="checked">
        <div><a href="#" ng-click="goToCheckIn()">CHECKIN</a><a href="#" ng-click="goToSearch()">SEARCH</a></div>
      </pageslide>
      <h2>SEARCH</h2>
      <input type="text" placeholder="Please type search term." ng-model="searchTerm" class="searchInput">
      <div ng-click="search()" class="btn btnShakespeare"><span ng-if="!currentlySearching">SEARCH</span><span ng-if="currentlySearching">SEARCHING...</span></div>
      <h2>UNSYNCED ( {{unsyncedCheckins.length}} )</h2>
      <div class="header">
        <div ng-click="orderUnsynced('workerId')" class="clickable columnOne">Kiosk</div>
        <div ng-click="orderUnsynced('created')" class="clickable columnTwo">Checkin Time</div>
        <div ng-click="orderUnsynced('firstname')" class="clickable columnTwo">Full Name</div>
        <div ng-click="orderUnsynced('eventAttendeeEmail')" class="clickable columnFour">Email</div>
      </div>
      <div class="module short">
        <div class="body">
          <div ng-repeat="checkIn in unsyncedSearchResults | orderBy:unsyncedPredicate:unsyncedReverse" ng-class="{'active':(checkIn.id==currentCheckIn.id)}" ng-click="setCurrentCheckIn(checkIn)" class="row">
            <div class="columnOne">{{checkIn.checkInWorker}}</div>
            <div class="columnTwo">{{checkIn.created | date:'HH:mm:ss'}}</div>
            <div class="columnTwo">{{checkIn.eventAttendee.firstname}} {{checkIn.eventAttendee.lastname}}</div>
            <div class="columnFour">{{checkIn.eventAttendeeEmail}}</div>
          </div>
        </div>
      </div>
      <h3>Status: <em>{{currentStatus}}</em></h3>
      <h3>Allocated badges: {{allocatedPeripheralsCount}}</h3>
      <div ng-click="syncSearched()" ng-class="{'disabled':!currentCheckIn || isScanning || allocatedPeripheralsCount &lt; 1 || currentlySyncing}" class="btn btnShakespeare actionButton"><span ng-if="!currentlySyncing">SYNC</span><span ng-if="currentlySyncing">SYNCING...</span></div>
      <h2>SYNCED</h2>
      <div class="header">
        <div ng-click="orderSynced('workerId')" class="clickable columnOne">Kiosk</div>
        <div ng-click="orderUnsynced('created')" class="clickable columnTwo">Checkin Time</div>
        <div ng-click="orderSynced('badge.syncTime')" class="clickable columnTwo">Sync Time</div>
        <div ng-click="orderSynced('eventAttendee.firstname')" class="clickable columnTwo">Full Name</div>
        <div ng-click="orderSynced('badge.timeSynced')" class="clickable columnFour">Email</div>
      </div>
      <div class="module">
        <div class="body">
          <div ng-repeat="checkIn in syncedSearchResults" ng-click="setCurrentSyncedCheckIn(checkIn)" ng-class="{'active':(checkIn.id==currentSyncedCheckIn.id)}" class="row">
            <div class="columnOne">{{checkIn.checkInWorker}}</div>
            <div class="columnTwo">{{checkIn.created | date:'MM/dd HH:mm:ss'}}</div>
            <div class="columnTwo">{{checkIn.badge.syncTime | date:'MM/dd HH:mm:ss'}}</div>
            <div class="columnTwo">{{checkIn.eventAttendee.firstname}} {{checkIn.eventAttendee.lastname}}</div>
            <div class="columnFour">{{checkIn.eventAttendeeEmail}}</div>
          </div>
        </div>
      </div>
      <div ng-class="{'disabled':!currentSyncedCheckIn}" ng-click="unsyncSearched()" class="btn btnRed actionButton"><span ng-if="!currentlyUnsyncing">UNSYNC</span><span ng-if="currentlyUnsyncing">UNSYNCING...</span></div>
    </div>
  </body>
</html>