extends ../../_views/layout

block content
	#badgeState(ng-controller="BadgeStateController")
		.topbar
			.container
				.currentVersion ({{currentVersion}})
				input(type="text" ng-model="scanTime" value="{{scanTime}}")
				button(type="button" ng-click="scanForInterval()" ng-disabled="bulkCommanding")
					span(ng-if="!isScanning") Scan
					span(ng-if="isScanning") scanning...
				button(type="button" ng-click="reset()" ng-disabled="bulkCommanding") Reset
				//- button(type="button" ng-click="export()") Export
				.metricsContainer
					.metric <span>Total Badges: </span>{{seenBadgesCount}}
					.metric <span>Seen Badges (2s): </span>{{currentBadgesCount}}
					.metric <span>Current Status: </span> {{currentStatus}}
		.container
			h2 BULK COMMAND
			.bulkCommandContainer
				label STATE
				input(type="text" placeholder="(i.e. 1111)" ng-model="bulkState")
				label COMMAND
				input(type="text" placeholder="(i.e. d5)" ng-model="bulkCommand")
				button(ng-click="sendBulkCommand()") 
					span(ng-if="!bulkCommanding") SEND
					span(ng-if="bulkCommanding") working...
			.header
				.columnOne #
				.clickable.columnTwo(ng-click="order('identity')") Badge
				.clickable.columnTwo(ng-click="order('macAddress')") Address
				.clickable.columnOne(ng-click="order('lastRssi')") Last RSSI
				.clickable.columnOne(ng-click="order('firstSeen')") First Seen
				.clickable.columnOne(ng-click="order('lastSeen')") Last Seen
				.clickable.columnOne(ng-click="order('lastSeen')") Ad Count
				.clickable.columnOne(ng-click="order('lastSeen')") Ad Rate
				.clickable.columnOne(ng-click="order('generalState')") State
				.clickable.columnOne(ng-click="order('newDataState')") New Data
				.clickable.columnOne(ng-click="order('batteryState')") Battery
				.clickable.columnTwo Command
				.clickable.columnOne Send
			.module.tall
				.table
					.body
						.row(ng-repeat="key in sortedKeys")
							.columnOne
								{{$index+1}}
							.columnTwo
								{{seenBadges[key].identity}}
							.columnTwo
								{{seenBadges[key].macAddress}}
							.columnOne
								{{seenBadges[key].lastRssi}}
							.columnOne
								{{seenBadges[key].firstSeen | date:'MM/dd HH:mm:ss'}}
							.columnOne
								{{seenBadges[key].lastSeen | date:'MM/dd HH:mm:ss'}}
							.columnOne
								{{seenBadges[key].adCount}}
							.columnOne
								{{seenBadges[key].adRate}}
							.columnOne
								{{seenBadges[key].generalState}}
							.columnOne
								{{seenBadges[key].newDataState}}
							.columnOne
								{{seenBadges[key].batteryState}}
							.columnTwo
								input(type="text"
										placeholder="ff"
										ng-model="badgeCommands[seenBadges[key].identity+seenBadges[key].macAddress]"
										my-enter="sendBadgeCommand(seenBadges[key])")
							.columnOne
								button(type="button" ng-click="sendBadgeCommand(seenBadges[key])")
									span(ng-if="!badgeWaitingForCommand(seenBadges[key])") Submit
									span(ng-if="badgeWaitingForCommand(seenBadges[key])") waiting...