<!DOCTYPE html>
<html ng-app="HubApp">
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/js/vendor/vendor.min.js"></script>
    <script type="text/javascript" src="/js/vendor/io.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div id="presync" ng-controller="PresyncController">
      <div class="topbar">
        <div class="container">
          <div class="countdownDisplay">Countdown: {{countDownValue}}</div>
          <div class="currentVersion">({{currentVersion}})</div>
          <label>Event</label>
          <input type="text" ng-model="currentEvent" value="{{currentEvent}}">
          <button type="button" ng-click="setCurrentEvent()"><span ng-if="!eventLoading">Set</span><span ng-if="eventLoading">loading...</span></button>
          <button type="button" ng-click="export()">Export</button>
          <label>RSSI Threshold</label>
          <input type="text" ng-model="rssiThreshold" value="{{rssiThreshold}}">
          <button type="button" ng-click="setRSSI()">Set</button>
          <label>Countdown Time</label>
          <input type="text" ng-model="countDownConstant" value="{{countDownConstant}}">
          <button type="button" ng-click="toggleAutoSync()" ng-disabled="currentlySyncing">{{autoSync?'Pause':'Start'}}</button>
          <div class="metricsContainer">
            <div class="metric"><span>Total Attendees: </span>{{attendees.length}}</div>
            <div class="metric"><span>Unsynced Attendees: </span>{{unsyncedAttendees.length}}</div>
            <div class="metric"><span>Synced Attendees: </span>{{syncedAttendees.length}}</div>
            <div class="metric"><span>Available Badges: </span>{{currentBadges.length}}</div>
          </div>
          <div class="currentStatus"><strong>Current Status:</strong> {{currentStatus}}</div>
        </div>
      </div>
      <div class="container">
        <div class="header">
          <div class="clickable columnOne">#</div>
          <div ng-click="order('id')" class="clickable columnOne">Id</div>
          <div ng-click="order('id')" class="clickable columnOne">Badge Order</div>
          <div ng-click="order('firstname')" class="clickable columnTwo">Full Name</div>
          <div ng-click="order('email')" class="clickable columnFour">Email</div>
          <div class="columnOne">Sync Time</div>
          <div class="columnOne">Badge</div>
          <div class="columnTwo">Mac Address</div>
          <div ng-click="order('lastSeen')" class="clickable columnOne">Last Seen</div>
          <div ng-click="order('rssi')" class="clickable columnOne">Last RSSI</div>
          <div class="columnOne">Light</div>
          <div class="columnOne">Sync/Unsync</div>
        </div>
        <div class="module">
          <div class="body">
            <div ng-repeat="attendee in attendees | orderBy:predicate:reverse" ng-class="{'active':(attendee.id==currentAttendee.id)}" ng-if="filterSeen?(seenBadges[attendee.badges[0].identity].rssi &lt; 0?true:false):true" class="row">
              <div class="columnOne">{{$index+1}}</div>
              <div class="columnOne">{{attendee.id}}</div>
              <div class="columnOne">{{attendee.badgeOrder}}</div>
              <div class="columnTwo">{{attendee.firstname}} {{attendee.lastname}}</div>
              <div class="columnFour">{{attendee.email}}</div>
              <div class="columnOne">{{attendee.currentBadge.syncTime | date:'MM/dd HH:mm:ss'}}</div>
              <div class="columnOne"><span ng-if="attendee.currentBadge &amp;&amp; attendee.id==currentAttendee.id">{{(countDownValue==0)?'waiting...':countDownValue}}</span><span ng-if="attendee.currentBadge">{{attendee.currentBadge.identity}}</span></div>
              <div class="columnTwo"><span ng-if="attendee.currentBadge">{{attendee.currentBadge.macAddress}}</span></div>
              <div class="columnOne"><span ng-if="attendee.currentBadge">{{seenBadges[attendee.currentBadge.identity+attendee.currentBadge.macAddress].lastSeen}}</span></div>
              <div class="columnOne"><span ng-if="attendee.currentBadge">{{seenBadges[attendee.currentBadge.identity+attendee.currentBadge.macAddress].lastRssi}}</span></div>
              <div class="columnOne">
                <button type="button" ng-click="sendCommand(attendee, 'f70102'); $event.stopPropagation();" ng-if="attendee.currentBadge" ng-disabled="isCurrentlySyncing || autoSync">Light</button>
              </div>
              <div class="columnOne">
                <button type="button" ng-click="syncBadge(attendee)" ng-if="!attendee.currentBadge" ng-disabled="isCurrentlySyncing || autoSync"><span ng-if="!isSyncingAttendee(attendee)">Sync</span><span ng-if="isSyncingAttendee(attendee)">syncing...</span></button>
                <button type="button" ng-click="unsync(attendee)" ng-if="attendee.currentBadge" ng-disabled="isCurrentlySyncing || autoSync"><span>Unsync</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>