<!DOCTYPE html>
<html ng-app="HubApp">
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/js/vendor/vendor.min.js"></script>
    <script type="text/javascript" src="/js/vendor/io.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div id="badgeState" ng-controller="DuplicatesController">
      <div class="topbar">
        <div class="container">
          <div class="currentVersion">({{currentVersion}})</div>
          <input type="text" ng-model="scanTime" value="{{scanTime}}">
          <button type="button" ng-click="scanForInterval()"><span ng-if="!isScanning">Scan</span><span ng-if="isScanning">scanning...</span></button>
          <button type="button" ng-click="reset()">Reset</button>
          <div class="metricsContainer">
            <div class="metric"><span>Total Badges: </span>{{seenBadgesCount}}</div>
            <div class="metric"><span>Seen Badges (2s): </span>{{currentBadgesCount}}</div>
            <div class="metric"><span>Current Status: </span> {{currentStatus}}</div>
          </div>
        </div>
      </div>
      <div class="container">
        <h3>Repeated Identities</h3>
        <div class="header">
          <div class="columnOne">#</div>
          <div ng-click="order('identity')" class="clickable columnOne">Identity</div>
          <div ng-click="order('macAddress')" class="clickable columnFour">Address</div>
        </div>
        <div class="module">
          <div class="table">
            <div class="body">
              <div ng-repeat="(key, badge) in repeatedIdBadges" class="row">
                <div class="columnOne">{{$index+1}}</div>
                <div class="columnOne">{{key}}</div>
                <div class="columnFour">{{badge.macAddresses}}</div>
              </div>
            </div>
          </div>
        </div>
        <h3>Repeated Mac Addresses</h3>
        <div class="header">
          <div class="columnOne">#</div>
          <div ng-click="order('identity')" class="clickable columnOne">Address</div>
          <div ng-click="order('macAddress')" class="clickable columnFour">Identity</div>
        </div>
        <div class="module">
          <div class="table">
            <div class="body">
              <div ng-repeat="(key, badge) in repeatedMacBadges" class="row">
                <div class="columnOne">{{$index+1}}</div>
                <div class="columnOne">{{key}}</div>
                <div class="columnFour">{{badge.identities}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>