$primary-color: black;
$alabaster: #fafafa;
$revolver: #341c3c;
$blue: #6fbfe5;
$green: #88c057;
$purple: #814696;
$flushOrange: #ff7e00;
$darkGray: #1e3240;
$mediumGray: #a6aab1;
$lightGray: #ddd;
$whiteLilac: #f8f9fc;
$teal: #e2ecf2;
$white: #fff;
$orange: #EEA14B;
$darkBlue: #199ad6;
$flamingo: #ef4b49;
$hollywood: #EC008C;
$red: #ee7565;
$shark: #292D35;
$transparentShark: rgba(41, 45, 53, 0.8);
$shakespeare: #4dbdcb;
$manatee: #8e93a2;
$iron: #d4d6da;
$concrete: #f3f3f3;
$scooter: #2DB0C0;
$frenchGray: #c4c5ca;
$transparentPurple: rgba(129, 70, 150, 0.8);
$transparentWhite: rgba(255, 255, 255, 0.5);
$transparentGray: rgba(200, 200, 200, 0.3);
$transparentDarkGray: rgba(100, 100, 100, 0.3);
$transparency: rgba(0, 0, 0, 0);

//colors
.blue {
	color:$blue;
}
.green {
	color:$green;
}
.purple {
	color:$purple;
}
.darkGray {
	color:$darkGray;
}
.mediumGray {
	color:$mediumGray;
}
.lightGray {
	color:$lightGray;
}
.teal {
	color:$teal;
}
.white {
	color:$white;
}

.orange {
	color:$orange;
}

.darkBlue {
	color:$darkBlue;
}

.red {
	color:$red;
}