hamburger-menu.hamburgerMenu(ng-click="toggleMenu()")
pageslide(ps-side="left" ps-open='checked')
	div
		a(href="#" ng-click="goToCheckIn()") CHECKIN
		a(href="#" ng-click="goToSearch()") SEARCH
		a(href="#" ng-click="goToLookup()") LOOK UP
		a(href="#" ng-click="goToSignup()") MANUAL SIGNUP