extends ../../_views/layout

block content
	#onsite(ng-controller="searchController")
		include ../partials/menu
		h2 SEARCH
		input.searchInput(type="text" placeholder="Please type search term." ng-keyup="searchCachedAttendees()" ng-model="searchTerm")
		.btn.btnShakespeare(ng-click="search()")
			span(ng-if="!currentlySearching") SEARCH
			span(ng-if="currentlySearching") SEARCHING...
		h2 UNSYNCED
		.header
			.clickable.columnOne Kiosk
			.clickable.columnTwo Checkin Time
			.clickable.columnTwo Full Name
			.clickable.columnTwo Provider Badge Id
			.clickable.columnFour Email
		.module.short
			.body
				.row(ng-repeat="attendee in unsyncedSearchResults" ng-class="{'active':(attendee.id==currentAttendee.id)}" ng-click="setCurrentAttendee(attendee)")
					.columnOne
						p {{attendee.checkIn.checkInWorker}}
					.columnTwo
						p {{attendee.created | date:'HH:mm:ss'}}
					.columnTwo
						p {{attendee.firstname}} {{attendee.lastname}}
					.columnTwo
						p {{attendee.providerBadgeId}}
					.columnFour
						p {{attendee.email}}
		h3 Status: <em>{{currentStatus}}</em>
		h3 Available badges: {{allocatedPeripheralsCount}}
		.btn.btnShakespeare.actionButton(ng-click="sync()" ng-class="{'disabled':!currentAttendee || isScanning || allocatedPeripheralsCount < 1 || currentlySyncing}")
			span(ng-if="!currentlySyncing") SYNC
			span(ng-if="currentlySyncing") SYNCING...
		h2 SYNCED
		.header
			.clickable.columnOne Kiosk
			.clickable.columnTwo Checkin Time
			.clickable.columnTwo Sync Time
			.clickable.columnTwo Full Name
			.clickable.columnFour Email
		.module.short
			.body
				.row(ng-repeat="attendee in syncedSearchResults" ng-click="setCurrentSyncedAttendee(attendee)" ng-class="{'active':(attendee.id==currentSyncedAttendee.id)}")
					.columnOne
						p {{attendee.checkIn.checkInWorker}}
					.columnTwo
						p {{attendee.created | date:'MM/dd HH:mm:ss'}}
					.columnTwo
						p {{attendee.badge.syncTime | date:'MM/dd HH:mm:ss'}}
					.columnTwo
						p {{attendee.firstname}} {{attendee.lastname}}
					.columnFour
						p {{attendee.email}}
		.btn.btnShakespeare.actionButton(ng-class="{'disabled':!currentSyncedAttendee || currentlySyncing || currentlyUnsyncing}" ng-click="sendCommand('f70102')") BLINK
		.btn.btnRed.actionButton(ng-class="{'disabled':!currentSyncedAttendee}" ng-click='unsync()')
			span(ng-if="!currentlyUnsyncing") UNSYNC
			span(ng-if="currentlyUnsyncing") UNSYNCING...