hamburger-menu.hamburgerMenu(ng-click="toggleMenu()" ng-controller="menuController")
pageslide(ps-side="left" ps-open='checked')
	div
		a(href="#" ng-click="goToCheckIn()") CHECKIN
		a(href="#" ng-click="goToSearch()") SEARCH