extends ../../_views/layout

block content
	#onsite(ng-controller="onsiteController")
		include ./menu
		h2 CHECKINS ( {{unsyncedCheckins.length}} )
		.header
			.clickable.columnOne Kiosk
			.clickable.columnTwo Checkin Time
			.clickable.columnTwo Full Name
			.clickable.columnFour Email
		.module.short
			.body
				.row(ng-repeat="checkIn in unsyncedCheckins | orderBy:unsyncedPredicate:unsyncedReverse" ng-class="{'active':(checkIn.id==currentCheckIn.id)}" ng-click="setCurrentCheckIn(checkIn)")
					.columnOne
						{{checkIn.checkInWorker}}
					.columnTwo
						{{checkIn.created | date:'HH:mm:ss'}}
					.columnTwo
						{{checkIn.eventAttendee.firstname}} {{checkIn.eventAttendee.lastname}}
					.columnFour
						{{checkIn.eventAttendeeEmail}}
		h3 Status: <em>{{currentStatus}}</em>
		h3 Badges: {{allocatedPeripheralsCount}}
		.btn.btnShakespeare.actionButton(ng-click="sync()" ng-class="{'disabled':!currentCheckIn || isScanning || allocatedPeripheralsCount < 1 || currentlySyncing}")
			span(ng-if="!currentlySyncing") SYNC
			span(ng-if="currentlySyncing") SYNCING...
		h2 SYNCED CHECKINS
		.header
			.clickable.columnOne Kiosk
			.clickable.columnTwo Sync Time
			.clickable.columnTwo First Name
			.clickable.columnTwo Last Name
			//- .clickable.columnFour(ng-click="orderSynced('badge.timeSynced')") Email
		.module.short
			.body
				.row(ng-repeat="checkIn in syncedCheckins | orderBy:syncedPredicate:syncedReverse" ng-click="setCurrentSyncedCheckIn(checkIn)" ng-class="{'active':(checkIn.id == currentSyncedCheckIn.id)}")
					.columnOne
						{{checkIn.checkInWorker}}
					.columnTwo
						{{checkIn.badge.syncTime | date:'HH:mm:ss'}}
					.columnTwo
						{{checkIn.eventAttendee.firstname}} {{checkIn.eventAttendee.lastname}}
					//- .columnFour
						{{checkIn.eventAttendeeEmail}}
		.btn.btnShakespeare.actionButton(ng-class="{'disabled':!currentSyncedCheckIn || currentlySyncing || currentlyUnsyncing}" ng-click="sendCommand('f70102')") BLINK
		.btn.btnRed.actionButton(ng-class="{'disabled':!currentSyncedCheckIn || currentlyUnsyncing || currentlySyncing}" ng-click='unsync()')
			span(ng-if="!currentlyUnsyncing") UNSYNC
			span(ng-if="currentlyUnsyncing") UNSYNCING...