extends ../../_views/layout

block content
	#onsite(ng-controller="onsiteController")
		include ../partials/menu
		h2 CHECKINS
		.header
			.columnOne Kiosk
			.columnTwo Checkin Time
			.columnTwo Full Name
			//- .columnTwo Provider Badge Id
			.columnFour Email
		.module.short
			.body
				.row(ng-repeat="attendee in unsyncedAttendees" ng-class="{'active':(attendee.id==currentAttendee.id)}" ng-click="setCurrentAttendee(attendee)")
					.columnOne
						{{attendee.checkIn.checkInWorker}}
					.columnTwo
						{{attendee.checkIn.created | date:'h:mm:ss'}}
					.columnTwo
						{{attendee.firstname}} {{attendee.lastname}}
					//- .columnTwo
					//- 	{{attendee.providerBadgeId}}
					.columnFour
						{{attendee.email}}
		h3 Status: <em>{{currentStatus}}</em>
		h3 Badges: {{allocatedPeripheralsCount}}
		.btn.btnShakespeare.actionButton(ng-click="sync()" ng-class="{'disabled':!currentAttendee || isScanning || allocatedPeripheralsCount < 1 || currentlySyncing}")
			span(ng-if="!currentlySyncing") SYNC
			span(ng-if="currentlySyncing") SYNCING...
		h2 SYNCED CHECKINS
		.header
			.columnOne Kiosk
			.columnTwo Sync Time
			.columnTwo Full Name
			//- .columnTwo Provider Badge Id
			.columnFour(ng-click="orderSynced('badge.timeSynced')") Email
		.module.short
			.body
				.row(ng-repeat="attendee in syncedAttendees" ng-click="setCurrentSyncedAttendee(attendee)" ng-class="{'active':(currentSyncedAttendee.id == attendee.id)}")
					.columnOne
						{{attendee.checkIn.checkInWorker}}
					.columnTwo
						{{attendee.checkIn.created | date:'h:mm:ss'}}
					.columnTwo
						{{attendee.firstname}} {{attendee.lastname}}
					//- .columnTwo
					//- 	{{attendee.providerBadgeId}}
					.columnFour
						{{attendee.email}}
		.btn.btnShakespeare.actionButton(ng-class="{'disabled':!currentSyncedAttendee || currentlySyncing || currentlyUnsyncing}" ng-click="sendCommand('f70102')") BLINK
		.btn.btnRed.actionButton(ng-class="{'disabled':!currentSyncedAttendee || currentlyUnsyncing || currentlySyncing}" ng-click='unsync()')
			span(ng-if="!currentlyUnsyncing") UNSYNC
			span(ng-if="currentlyUnsyncing") UNSYNCING...