extends ../../_views/layout

block content
	#onsite(ng-controller="onsiteController")
		include ./menu
		h2 INFORMATION
		.status
			h3 Status: <em>{{currentStatus}}</em>
		h2 SYNCED CHECKINS
		.header
			.clickable.columnOne(ng-click="orderSynced('workerId')") Kiosk
			.clickable.columnTwo(ng-click="orderUnsynced('created')") Checkin Time
			.clickable.columnTwo(ng-click="orderSynced('badge.syncTime')") Sync Time
			.clickable.columnTwo(ng-click="orderSynced('eventAttendee.firstname')") Full Name
			.clickable.columnTwo(ng-click="orderSynced('eventAttendee.lastname')") Last Name
			.clickable.columnFour(ng-click="orderSynced('badge.timeSynced')") Email
		.module.tall
			.body
				.row(ng-repeat="checkIn in syncedCheckins | orderBy:syncedPredicate:syncedReverse" ng-click="setCurrentSyncedCheckIn(checkIn)" ng-class="{'active':(checkIn.id==currentSyncedCheckIn.id)}")
					.columnOne
						{{checkIn.checkInWorker}}
					.columnTwo
						{{checkIn.created | date:'HH:mm:ss'}}
					.columnTwo
						{{checkIn.badge.syncTime | date:'HH:mm:ss'}}
					.columnTwo
						{{checkIn.eventAttendee.firstname}}
					.columnTwo
						{{checkIn.eventAttendee.lastname}}
					.columnFour
						{{checkIn.eventAttendeeEmail}}
		.btn.btnShakespeare.actionButton(ng-class="{'disabled':!currentSyncedCheckIn}" ng-click="sendCommand('f70102')") BLINK
		.btn.btnRed.actionButton(ng-class="{'disabled':!currentSyncedCheckIn}" ng-click='unsync()')
			span(ng-if="!currentlyUnsyncing") UNSYNC
			span(ng-if="currentlyUnsyncing") UNSYNCING...